[{whod,
  [{names, []},
   {listen_ip4, {0,0,0,0}},
   {listen_ip6, {16#0,16#0,16#0,16#0,16#0,16#0,16#0,16#0}}
  ]},
 {kernel,
  [{inet_dist_use_interface, {127,0,0,1}}
  ]},
 {lager,
  [{log_root, "log"},
   {colored, true},
   {handlers,
    [
     {lager_console_backend,
      [debug,
       {lager_default_formatter,
     	[date," ",time," ",pid," ",{module, [module,":",line," "], ""},"=== ",message,"\n"]}]},
     {lager_file_backend,
      [{file, "whod.log"}, {level, info}, {size, 1048576}, {date, "$D0"}, {count, 5},
       {formatter_config,
	[date," ",time," ",pid," ",{module, [module,":",line," "], ""},"=== ",message,"\n"]}]}
    ]},
   {extra_sinks,
    [{whod_access_log_lager_event,
      [{handlers,
	[{lager_file_backend,
	  [{file, "access.log"}, {level, info}, {size, 1048576}, {date, "$D0"}, {count, 5},
	   {formatter_config, [date," ",time," === ",message,"\n"]}
	  ]}
	]},
       {async_threshold, 500},
       {async_threshold_window, 50}
      ]}
    ]}
  ]}
].
