{erl_opts, [{parse_transform, lager_transform},
	    {lager_extra_sinks, [whod_access_log]},
	    warnings_as_errors,
	    debug_info]}.

{deps, [lager]}.

{relx, [{release, {whod, "1.0.0"}, [whod]},
        {sys_config, "cfg/sys.config"},
	{dev_mode, true},
	{include_erts, false},
	{extended_start_script, true}
       ]}.

{profiles,
 [{prod,
   [{relx, [{dev_mode, false}]}
   ]}
 ]}.
